/* .pure-menu-subtitle {
    text-align: center;
    width: 11rem;
} */

#table {
    margin: auto;
}

.acces-button {
    padding: 0;
    border: 0;
    margin-left: 1rem;
}

.acces-button-a {
    cursor: pointer;
    padding: 0.4rem;
}

.acces-button-a:hover {
    text-decoration: underline;
}

.id-tableau {
    padding: 0.4rem;
}

#emplacement-donnees {
    text-align: center;
}
