/* @import "../../../node_modules/tailwindcss/dist/base.css"; */
/* @import "../../../../relaxtravel/node_modules/tailwindcss/dist/base.css"; */

/* @import "../../../node_modules/tailwindcss/dist/components.css"; */
/* @import "../../../../relaxtravel/node_modules/tailwindcss/dist/components.css"; */

/* @import "../../../node_modules/tailwindcss/dist/utilities.css"; */
/* @import "../../../../relaxtravel/node_modules/tailwindcss/dist/utilities.css"; */

.carre{
    font-size: 100px;
}

.msg-err {
    display: none;
}

h2{
    font-size: xx-large;
}

button{
    font-size: large;
}

.msgerr {
    display: none;
}

#etiquette{
    font-size: x-large;
}

#header{
    position: fixed;
    top: 0px;
}

span{
    font-size: 18px;
}